[submodule "glide"]
path = vendor/github.com/Masterminds/glide
url = https://github.com/Masterminds/glide.git

[submodule "net"]
path = vendor/golang.org/x/net
url = https://github.com/golang/net.git

[submodule "sys"]
path = vendor/golang.org/x/sys
url = https://github.com/golang/sys.git

[submodule "gocolorize"]
path = vendor/github.com/agtorre/gocolorize
url = https://github.com/agtorre/gocolorize.git

[submodule "fsnotify"]
path = vendor/github.com/fsnotify/fsnotify
url = https://github.com/fsnotify/fsnotify.git

[submodule "config"]
path = vendor/github.com/robfig/config
url = https://github.com/robfig/config.git

[submodule "pathtree"]
path = vendor/github.com/robfig/pathtree
url = https://github.com/robfig/pathtree.git

[submodule "cron"]
path = vendor/github.com/robfig/cron
url = https://github.com/robfig/cron.git

[submodule "cli"]
path = vendor/github.com/codegangsta/cli
  url = https://github.com/codegangsta/cli.git
