language: go

sudo: false

env:
  - GO111MODULE=on

go:
  - 1.13
  - 1.14
  - 1.15
  - 1.16
  - 1.17
  - 1.18
  - 1.19
  - 1.20
  - 1.21
  - master

before_install:
  - go get golang.org/x/tools/cmd/cover@v0.1.10
  - go install golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls@v0.0.11
  - go install github.com/mattn/goveralls

script:
  - $HOME/gopath/bin/goveralls -service=travis-ci

matrix:
  allow_failures:
    - go: master
