language: go

sudo: false

go:
  - 1.8
  - 1.9
  - "1.10"
  - 1.11
  - tip

before_install:
   - go get github.com/mattn/goveralls
   - go get golang.org/x/tools/cmd/cover

script:
    - $HOME/gopath/bin/goveralls -service=travis-ci
